<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sgtmelon.adventofcode">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdventOfCode"
        tools:targetApi="31">

        <activity
            android:name="sgtmelon.adventofcode.app.menu.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="sgtmelon.adventofcode.app.menu.SolutionMenuActivity"
            android:parentActivityName="sgtmelon.adventofcode.app.menu.MainMenuActivity" />

        <activity android:name=".year15.day1.Year15Day1Activity" />
        <activity android:name=".year15.day2.Year15Day2Activity" />
        <activity android:name=".year15.day3.Year15Day3Activity" />
        <activity android:name=".year15.day4.Year15Day4Activity" />
        <activity android:name=".year15.day5.Year15Day5Activity" />
        <activity android:name=".year15.day6.Year15Day6Activity" />
        <activity android:name=".year15.day7.Year15Day7Activity" />

        <activity android:name=".year21.day1.Year21Day1Activity" />
        <activity android:name=".year21.day10.Year21Day10Activity" />

    </application>

</manifest>